html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
  width: 25em;
  margin: 0 auto;
  padding: 0.5em 0;

  height: 100vh;

  font-family: cursive;
  background-color: darkblue;
  text-align: center;
}

button {cursive
  font-size: 24px;
  font-family: monospace;
}

img {
  max-width: 80%;
}

ul {
    list-style-type: none;
    background-color: light blue;
    color : dark blue;
 }
